doctype html
html
  include ./includes/_head
  body
    include ./includes/_bstow_header
    .container
      .row
        .col-md-6.col-md-offset-3
          form(action='/nonprofits/preview' method='post')
            .form-group
              label.control-label(for='name') Your Name
              input.form-control(placeholder='Your Name' name='name')
            .form-group
              label.control-label(for='email') Your Email
              input.form-control(placeholder='Your Email' name='email')
            .form-group
              label.control-label(for='nonprofit_name') Non-Profit Name
              input.form-control(placeholder='Non-Profit Name' name='nonprofit_name')
            .form-group
              label.control-label(for='ein') Non-Profit Tax ID/EIN
              input.form-control(placeholder='Non-Profit Tax ID/EIN' name='ein')
            .form-group
              label.control-label Choose Text Color
              div
                label.control-label Black
                input.form-control(type="radio" name="text-color" checked)
                label.control-label White
                input.form-control(type="radio" name="text-color")
            .form-group
              label.control-label(for='instagram_url') Enter Instagram Handle
              input.form-control(placeholder='Enter Instagram Handle' name='instagram_url')
            .form-group
              label.control-label(for='twitter_url') Enter Twitter Handle
              input.form-control(placeholder='Enter Twitter Handle' name='twitter_url')
            .form-group
              label.control-label(for='facebook_url') Enter Facebook URL
              input.form-control(placeholder='Enter Facebook URL' name='facebook_url')
            .form-group
              label.control-label(for='npo_cause') Enter Non-Profit's Cause
              input.form-control(placeholder='Enter Non-Profit\'s Cause' name='npo_cause')
            .form-group
              label.control-label(for='npo_blurb') Enter 200 Words About Your NPO
              textarea.form-control(placeholder='e.g. mission statement' name='npo_blurb')
            .form-group
              label.control-label(for='problems') How Will Bstow Help Your Organization
              textarea.form-control(placeholder='What problem(s) will $10 from Bstow go towards solving? (For every $x, y people are helped...' name='problems')
            .form-group
              label.control-label(for='background_img') Upload Photo
              input(type='file' name='background_img')
            .form-group
              button.form-control.btn.btn-success(type='submit') Save and Preview
    include ./includes/_scripts
