doctype html
// app/public/index.html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bstwow | Template Generator
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  body
    .container
      // HEADER AND TODO COUNT
      .jumbotron.text-center
        h1
          | Template Generator API Docs
      table.table
        thead
          tr
            th Request
            th URL
            th Descritptiton
        tbody
          tr
            td GET
            td /nonprofits
            td Get all nonprofits
          tr
            td GET
            td /nonprofits/:nonprofit.url
            td Get nonprofit by url
          tr
            td POST
            td /nonprofits
            td Create nonprofit