doctype html
html
	include ./includes/_head.jade
	body
		include ./includes/_bstow_header
		.container
			.np-wrap.col-md-8.col-md-offset-2.text-center
				h1 !{json.nonprofit_name}

				p Using Bstow, you can now send us your digital spare change automatically!
				.row
					.col-md-6
						h3	1. Sign up for Bstow
						.row
							img(alt='Available on Btow\'s Website')
						.row
							img(alt='Avaialbe on the App Store')
						.row
							img(alt='Avaible on Google Play')
					.col-md-6
						h3 2. Enter this code
						.row
							.np-ein-wrap !{json.ein}
						.row
							p You can enter is as your 'Secret Code' at signup or in the search once you've logged in.
				.row
					.col-md-12 Share on Facebook / Share on Twitter
		include ./includes/_preview_footer
		include ./includes/_scripts


