head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Bstwow | Template Generator
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
